.title_custom {
    font-size: 32px !important;
    color: black !important;
    text-align: center !important;
    line-height: 1.2 !important;
    border-style: none !important;
    margin-bottom: 10px !important;
}

.date {
    text-indent: 30px !important;
    font-size: 18px !important;
    font-style: italic !important;
    color: black !important;
    border-style: none !important;
}

.teaser {
    font-style: italic !important;
    font-size: 20px !important;
    color: black !important;
}

.text {
    font-size: 18px !important;
    line-height: 1.6 !important;
}

.card {
    width: 500px !important;
}
