.date {
    margin-bottom: 10px !important;
    font-style: italic;
    border-style: none !important;
}

.title_custom {
    color: black !important;
    font-size: 40px !important;
    margin-bottom: 25px !important;
    margin-top: 25px !important;
    border-style: none !important;
}

.teaser {
    font-size: 26px !important;
    line-height: 1.5 !important;
    margin-bottom: 35px !important;
}

.text {
    color: black !important;
    font-size: 20px !important;
    line-height: 1.7 !important;
    margin-bottom: 50px !important;
    border-style: none !important;
}

.img {
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 350px;
  border-style: none !important;
}

.rating {
    margin-top: 10px !important;
    margin-bottom: 50px !important;
}

.button {
    background-color: #4582ec;
    color: white;
    margin-bottom: 100px !important;
}

.modal_rating {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 22% !important;
}

.modal_header {
    border-style: none !important;
    font-size: 35px !important;
    text-align: center !important;
}

.modal_button {
    background-color: #4582ec;
    color: white;
    margin-bottom: 80px !important;
    margin-left: 22% !important;
}

