.date {
    margin-bottom: 10px !important;
    font-style: italic;
    border-style: none !important;
}

.title {
    color: black !important;
    font-size: 30px !important;
    margin-bottom: 10px !important;
    border-style: none !important;
}

.teaser {
    font-size: 20px !important;
}

.text {
        margin-top: 30px !important;
        color: black !important;
}

.img {
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 350px;
  border-style: none !important;
}

.rating {
    margin-top: 20px !important;
    margin-bottom: 50px !important;
}

.button {
    background-color: #4582ec;
    color: white;
    margin-bottom: 100px !important;
}